NEXT_PUBLIC_SUPABASE_URL=https://hvdcdhxwdtnvmhojszui.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2ZGNkaHh3ZHRudm1ob2pzenVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3MTEwMTgsImV4cCI6MjA3NDI4NzAxOH0.UQR5t4aCxyJhVfuikFIMi1WZS5UWOQMgaEg65ydyprg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2ZGNkaHh3ZHRudm1ob2pzenVpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODcxMTAxOCwiZXhwIjoyMDc0Mjg3MDE4fQ.m2WX79_RmIsWc-W-oczoWDbEmVj8I1PSQ_fbOsTHKrg
COINGECKO_API_KEY=CG-wuvx5QHonzD1Cn5CnidCBJ2h